/* ___===---Tag Selectors---===___ */

html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /* overflow: hidden; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}


body {
  background-color: #1a1a2e;
}

section {
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: none;
  background-color: #1a1a2e;
  height: 100vh;
}

section:nth-of-type(2n) {
  background-color: #16213e;
}

p{
  padding-left: 20%;
  padding-right: 20%;
  text-align: justify;
}

/* ___===---Class Selectors---===___ */

.navbar {
  height: 80px;
}

.navbar .nav-link {
  position: relative;
  padding-bottom: 2px;
}

.navbar .nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  max-width: 100px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
}

.navbar .nav-link:hover::before {
  visibility: visible;
}

.navbar-brand {
  font-size: 1.8rem;
  font-family: 'Permanent Marker', cursive;
}

.menubar_logo {
  width: 50px;
  height: 50px;
}

.top {
  margin-top: 100px;
  text-align: center;
  font-family: monospace;
}

.profile {
  margin: 50px auto;
}

.link {
  color: #28a745;
  transition: background-color 1s;
}

.link:hover {
  color: #dc3545;
  text-decoration: none;
}

.center{
  text-align: center;
}

.navig {
  background-color: #0f3460;
}

.current {
  display: flex;
}

.exp{
  text-align:center;
}

/* ___===---Contact page---===___ */
.cont {
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: none;
}

.cont h1 {
  font-size: 3.5rem;
}


.icons {
  font-size: 3rem;
  margin: 0 15%;
}

.icons:hover {
  color: #0ffff0;
}

.dist {
  text-align: center;
  margin: 2% auto;
  font-size: 2.4rem;
  transition: transform .2s;
}


.dist:hover {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.2);
}


@media only screen and (max-device-width: 667px) {
    

    h1 {
      font-size: 3rem;
    }

    h3 {
      font-size: 2.6rem;
      padding-bottom: 100px;
    }

    h4 {
      font-size: 2.4rem;
      padding-bottom: 8px;
    }

    section {
      font-size: 2.2rem;
    }

    p {
      padding: 0 3%;
    }

    .nav-link {
      font-size: 3rem;
      padding: 5px;
      margin: 5px auto;
    }

    .pic {
      width: 400px;
    }

    .profile {
      font-size: 2.2rem;
    }

    .navbar-brand {
      font-size: 2rem;
    }

   .cont .top h1{
      font-size: 4rem;
    }


}
